<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>点餐吧</h2>
    <form ng-submit="submit_order(order)">
      <div class="check-dishes-panel">
        <ul class="list-unstyled">
          <li ng-repeat="dish in dishes">
          <dish dish="dish">
            <div class="pull-right">
              <a class="btn btn-default rounded" ng-click="count_plus(dish)"><i class="glyphicon glyphicon-plus" ></i></a>
              <input type="text" class="count" value="0" ng-model="dish.count" ng-show="dish.count">
              <a class="btn btn-default rounded" ng-click="count_minus(dish)" ng-show="dish.count"><i class="glyphicon glyphicon-minus"></i></a>
            </div>
          </dish>
          </li>
        </ul>
        <div class="text-right">共￥{{total_price}}</div>
        <div class="form-group">
          <label for="name">名字</label>
          <input ng-model="order.name" id="" type="text" name="name" class="form-control" />
        </div>
        <div class="form-group">
          <label for="memo">备注</label>
          <input type="text" name="memo" id="memo" value="" class="form-control" ng-model="order.memo" />
        </div>
        <input class="btn btn-primary pull-right" type="submit" value="完成" />
      </div>
    </form>
  </div>
</div>
