<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>点餐详情</h2>
    <div class="check-dishes-panel">
      <ul class="list-unstyled">
        <li ng-repeat="dish in dishes">
        <div class="well">
          <h4 class="title">[{{dish.restaurant}}] {{dish.name}}</h4>
          <p class="price">￥{{dish.price}}</p>
          <p>点餐人: {{dish.username}}</p>
          <p>付款了吗 <input ng-model="dish.paid" type="checkbox" name="" id="" ng-click="update_order_pay_info(dish)" /></p>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
