<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>订餐汇总</h2>
    <div class="check-dishes-panel">
      <ul class="list-unstyled">
        <li ng-repeat="(name, dishes) in dish_stat">
        <div class="well">
          <h4 class="title">[{{dishes[0].restaurant}}] {{dishes[0].name}} x {{dishes.length}}</h4>
          <p class="price">￥{{dishes[0].price * dishes.length}}</p>
        </div>
        </li>
      </ul>
      <p class="text-right">共 ￥{{total_price}}</p>
    </div>
  </div>
</div>
