<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>订餐汇总</h2>
    <div class="check-dishes-panel">
      <div class="well text-center" ng-hide="total_price">还没有人点餐呢</div>
      <ul class="list-unstyled">
        <li ng-repeat="(name, dishes) in dish_stat">
        <div class="well clearfix">
          <p class="title pull-left">[{{dishes[0].restaurant}}] {{dishes[0].name}} x {{dishes.length}}</h4>
          <p class="price pull-right">￥{{dishes[0].price * dishes.length}}</p>
        </div>
        </li>
      </ul>
      <p class="text-right">共 ￥{{total_price}}</p>
    </div>
  </div>
</div>
