<div class="row">
  <div class="col-md-6">
    <h2>可选菜品</h2>
    <div class="selected-dishes-panel">
      <ul class='list-unstyled'>
        <li ng-repeat='dish in dishes'>
          <div class="well clearfix">
            <p class="title pull-left">[{{dish.restaurant}}] {{dish.name}}</p>
            <p class="price pull-right">￥{{dish.price}}</p>
            <div class="clearfix"></div>
            <button class="btn btn-primary btn-sm" ng-click="copy_to_menu(dish)" ng-disabled="selected[dish.name]">移过去</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <h2>编辑菜单</h2>
    <form ng-submit="save_menu()">
      <div class="selected-dishes-panel">
        <ul class='list-unstyled'>
          <li ng-repeat='dish in menu.dishes'>
          <div class="well clearfix">
            <p class="title pull-left">[{{dish.restaurant}}] {{dish.name}}</p>
            <p class="price pull-right">￥{{dish.price}}</p>
            <div class="clearfix"></div>
            <button class="btn btn-default btn-sm"ng-click="remove_dish(dish)"><i class="glyphicon glyphicon-trash"></i></button>
          </div>
          </li>
        </ul>
      </div>
      <input class="btn btn-primary pull-right" type="submit" value="完成了" />
    </form>
    <form ng-submit="add_new_dish()">
      <legend>添加新菜品</legend>
      <div class="form-group">
        <label for="dishRestaurant">店名</label>
        <input ng-model="new_dish.restaurant" type="text" name="dishRestaurant" id="dishRestaurant" value="" class="form-control" />
      </div>
      <div class="form-group">
        <label for="dishName">菜品名称</label>
        <input ng-model="new_dish.name" type="text" name="dishName" id="dishName" value="" class="form-control" />
      </div>
      <div class="form-group">
        <label for="dishPrice">价格</label>
        <input ng-model="new_dish.price" type="number" name="dishPrice" id="dishPrice" value="" class="form-control" />
      </div>
      <button class="btn btn-primary pull-right" type="submit">保存</button>
    </form>
  </div>
</div>
